body {
	padding-top: 80px;
}

@media (min-width: 768px) {
  .row { margin-right: 0; margin-left: 0; }
}	    

.container {
	max-width: 1024px;
}

.round5 {
	border-radius: 5px;
}

.round7 {
	border-radius: 7px;
}

.login-form-box {
	padding-top: 0px;
	padding-bottom: 30px;
}

.db-card {
	background-color: #ddd;
	color: #333;
	margin-bottom: 25px;
	padding: 10px;
	border: none;
}

.db-card:hover {
	background-color: #333;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

li.active {
	
}

.dropdown {
	cursor: pointer;
}