lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.pyc

node_modules
bower_components
pids
logs
results

npm-debug.log

# EOS-Security
target/
.settings/
.classpath
.project
reports/
eos/*/bin/

# Vim ignore files
*.swp

